:root {
  --main-color: #36393f;
  --main-frame-color: #2e3136;
  --border-color: #2e3136;
  --border-top-color: #17181a;
  --border-bottom-color: #454a52;
}

body {
  background: var(--main-color);
  text-align: center;
  margin: 0;
  color: white;
  font-family: 'Calibri', 'Verdana', sans-serif;
  overflow: hidden;
  font-size: 15px;
}

button {
  font-family: 'Calibri', 'Verdana', sans-serif;
}

#frame {
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: 480px;
  border: 40px solid var(--main-frame-color);
  border-radius: 20px;
}

#screen {
  transform: scale(3); /* fast due to GPU */
  transform-origin: 50% 0%;
  image-rendering: pixelated;
}

#crash {
  transform: scale(3); /* fast due to GPU */
  transform-origin: 50% 0%;
  image-rendering: pixelated;
}

#controls {
  position: fixed;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  background-color: var(--main-frame-color);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  width: 60%;
}

input[type='file'] {
  opacity: 0 !important;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
